<h1> Sign up ! </h1>
<% if @user.errors.any? %>
<% @errors.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %>


<p> <%= form_for @user do |f| %>
    <%= f.label :trainer %>
    <%= f.text_field :trainer %> <br>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <%= f.label :password%>
    <%= f.password_field :password %><br>
 
    <%= f.submit %>
 <% end %> 
 </p>
 <%= render 'welcome/form' %>