<h1> Sign up ! </h1> 
<p> <%= form_for @user do |f| %>
    <%= f.label :trainer %>
    <%= f.text_field :trainer %> <br>
    <%= f.label :email %>
    <%= f.email_field :email %><br>
    <%= f.label :password%>
    <%= f.password_field :password %><br>
 
    <%= f.submit %>
 <% end %> 
 </p>