<body>
  <% if logged_in? %>
    <div class="welcome-page">
    <h1>Poke⚡TM</h1>
    <h2><u> Welcome Trainer, Choose an action</u></h2>
    <ol>
      <li> <%= link_to 'Add a pokemon to your group', new_user_pokemon_path(current_user)%> </li> 
      <li> <%= link_to "view your pokemon", user_pokemons_path(current_user) %> </li>  
      <li> <%= link_to 'View all avaliable TMs', tms_path %> </li>
      <li> <%= link_to  "Logout", logout_path, method: :delete %> </li>
    </ol>
    </div>
  <% else %> 
    <div class='welcome-page'>
      <h1>Poke⚡TM</h1>
      <ol>
        <li> <%= link_to "Login", login_path %> </li>
        <li> <%= link_to "Sign in with Facebook", "/auth/facebook"%></li> 
        <li> <%= link_to 'Signup', signup_path %> </li> 
      </ol>
    </div>
  <% end %>

</body>
