<% if session[:user_id] %>
  <h2> Welcome Trainer! Please choose a new action: </h2>
  <%= link_to 'Create a new TM', tms_path %>
  <%= link_to 'View All Tms', tms_path %>
  #Generate a new TM 
  #View/Edit all your current TM - Pokemon assignements  
  <h2><%= link_to  "Logout", logout_path, method: :delete %></h2>

  <% else %> 
  <h2> Welcome to the poke_tm manager</h2>
  <h3> Please login or signup </h3> 
  <h3> <%= link_to "Login", login_path %> </h3>
  <h3> <%= link_to 'Signup', signup_path %> </h3> 
<% end %>
