#### css
<style> 
body {
  background-image: url("https://pm1.narvii.com/5818/90e76562781ac9de4c53786c72ddf359cb780857_hq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style
####

### when logged in 
<body>
<% if logged_in?%>
  <h2> Welcome Trainer! Please choose a new action: </h2>
  <h2> <%= link_to 'Add a pokemon to your group', new_user_pokemon_path(current_user)%> </h2> 
  <h2> <%= link_to "view your pokemon", user_pokemons_path(current_user) %> </h2>  
  <h2> <%= link_to 'View all avaliable TMs', tms_path %> </h2>
  <h2><%= link_to  "Logout", logout_path, method: :delete %></h2>
####
#### when not logged in 
  <% else %> 
  <h2> Welcome to the poke_tm manager</h2>
  <h3> Please login or signup </h3> 
  <h3> <%= link_to "Login", login_path %> </h3>
  <h3> <%= link_to('Log in with Facebook!', '/auth/facebook') %> </h3> 
  <h3> <%= link_to 'Signup', signup_path %> </h3> 
<% end %>

</body>
####
