<body>
  <div class='welcome-page'>
    <%= render 'welcome/form' %>
    <h2> Here are all avaliable TMS in this database </h2> 

    <table> 
        <tr>
          <th>Name</th>
          <th>Element</th>
          <th>Rarity</th> 
        </tr>
        <% @tms.each do |tm| %>
        <tr>
          <td><%= tm.name %></td>
          <td><%= tm.element %> </td>
          <td><%= tm.rarity %> </td>
        </tr>
        <% end %>
    </table>

 
    <p>** listed as very rare: </p> 
      <% @tms.rarity.each do |tm| %> 
        <ul>
          <li> <%= tm.name %> </li>
          </ul>
      <%  end %> 
 
    <br> 
  </div>
</body>