<h1> Generate a TM and assign a pokemon of your choice to it </h1> 
<%= form_for(@tm) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br />
    <%= f.label :element %>
    <%= f.text_field :element %><br />
    <%= f.label :rarity %>
    <%= f.text_field :rarity%><br />
    <%= f.submit "Generate TM" %>
  <% end %>