<% if @pokemon.errors.any? %>
<% @errors.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %>

<%= form_for @pokemon do |f| %>
<%= f.label :name, "Name" %>
<%= f.text_field :name%>
<%= f.label :tm_id, "Equip the desired TM to this pokemon:" %>
<%= f.collection_select :tm_id, Tm.all, :id, :name %> 
<%= f.submit "Submit" %>
<% end %> 
<%= render 'welcome/form' %>


