<% if @pokemon.errors.any? %>
<% @errors.each do |message| %>
  <li><%= message %></li>
<% end %>
<% end %>

<%= form_for @pokemon do |f| %>
<ol>
<li>
<%= f.label :name, "Name" %>
<%= f.text_field :name%> 
</li>
<li>
<%= f.label :tm_id, "Equip a TM:" %>
<%= f.collection_select :tm_id, Tm.all, :id, :name %> 
</li>
</ol>
<br>
<%= f.submit "Submit" %>
<% end %> 



