<h1> Add a new Pokemon to your group: </h1> 

<%= form_for @pokemon do |f| %>
        <%= f.label :name, 'Name:'%>
        <%= f.text_field :name %> <br> 
        <%= f.submit "Add Pokemon"  %>
<% end %>
<br>
<%= link_to "Return Home", root_path %>