####css 
<style> 
body {
  background-image: url("https://pm1.narvii.com/5818/90e76562781ac9de4c53786c72ddf359cb780857_hq.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style
####

<body>

####errors
<h1> Add a new Pokemon to your group: </h1> 

#### pokemon creation, will need to put in a form 
<%= form_for @pokemon do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.label :name, 'Name:'%>
        <%= f.text_field :name %> <br> 
        <%= f.submit "Add Pokemon"  %>
<% end %>
<br>
<%= link_to "Return Home", root_path %>
</body>
#####
