<h1> Here is the details for <%= @pokemon.name%> </h1>


<table>
 <tr>
   <th>Pokemon</th>
</tr>
 <tr>
 <td><%= @pokemon.name %></td>
 </tr>
</table>
<br>

<table>
 <tr>
   <th>Equipped TM</th> 
   <th>Element</th>
   <th>Rarity</th>
</tr>
 <tr>
 <td><%= @pokemon.tm.name %></tdr> 
 <td><%= @pokemon.tm.element %> </td>
 <td><%= @pokemon.tm.rarity %></td> 
 </tr>
</table>
<br>
<%= link_to "Edit", edit_user_pokemon_path(@user, @pokemon)%> <br>
<%= link_to "Abandon this pokemon", user_pokemon_path(@user, @pokemon), method: "delete" %>
<br>
<%= render 'welcome/form' %>