  <%= render 'welcome/form' %>
  <div class='welcome-page'>
  <h2><%= @pokemon.name%> </h2>
  
  <p>TM name: <%= @pokemon.tm.name %></p>
  <p>TM type: <%= @pokemon.tm.element %> </p>
 <p>TM rarity: <%= @pokemon.tm.rarity %> </p>
 
 <br>
<% if current_user == @user %>
<%= link_to "Edit âœï¸", edit_user_pokemon_path(@pokemon)%> <br>
<%= link_to "Abandon this pokemonðŸ—‘ï¸", user_pokemon_path(@user, @pokemon), method: "delete" %>
  <% end %>
<br>

</div>

