<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokemon.name %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @pokemon.generation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pokemon.type %>
</p>

<%= link_to 'Edit', edit_pokemon_path(@pokemon) %> |
<%= link_to 'Back', pokemons_path %>
