  <%= render 'welcome/form' %>
  <div class='welcome-page'>
  <h2><%= @pokemon.name%> </h2>
  <ol>
  <li><%= @pokemon.tm.name %></li>
  <li> <%= @pokemon.tm.element %> </li>
 <li> <%= @pokemon.tm.rarity %> </li>
 
 <br>
<% if current_user == @user %>
<%= link_to "Edit âœï¸", edit_user_pokemon_path(@pokemon)%> <br>
<%= link_to "Abandon this pokemonðŸ—‘ï¸", user_pokemon_path(@user, @pokemon), method: "delete" %>
  <% end %>
<br>

</div>

